  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>


<div class="container">
  <div class="currentAwardsTitle center-align">
  </div>
  

  <div id="bigheader"></div>

  <div id="best-seller-titles"></div>

</div>


<footer class="page-footer">
  © 2020 Copyright    
</footer>


