 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">SELECT A BOOK</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
  <ul class="collection">
    {{#each books }}
    <li class="collection-item">
      {{bookName}}
      <button class="delete-book" data-id="{{this.id}}"><i class="material-icons">delete_forever</i></button>
    </li>
    {{/each}}
  </ul>
  <form class="create-book">
    <div class="form-group">
      <label for="ca">Book Title:</label>
      <input type="text" id="ca" name="name">
    </div>
    <button class="rounded" type="submit" id="submit">Find Book</button>
  </form>