  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>


<div class="container">

  <div id="bigheader"></div>

  <div id="best-seller-titles"></div>

</div>

  <div class="container">

  <ul class="collection">
    {{#each books }}
    <li class="collection-item">
      {{bookName}}
      <button class="delete-book" data-id="{{this.id}}"><i class="material-icons">delete_forever</i></button>
    </li>
    {{/each}}
  </ul>
 
  <div class="form-group">
    <label for="ca">Book Title:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button class="rounded" type="submit" id="submit">Find Book</button>

</form>

<div id="best-seller-titles"></div> 



<footer class="page-footer">
  © 2020 Copyright    
</footer>


