
 <nav>
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <a href="#" data-target="hamburger-menu" class="button sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="mobileNav">
            <li><a href="/books">TOP PICKS</a></li><br>
            <li><a href="/clubs">JOIN A CLUB</a></li><br>
            <li><a href="/create">CREATE CLUB</a></li>
          </ul>
      
       <div class="right fullScreenNav">
        <a href="/books" class="navListItem">TOP PICKS</a>
        <a href="/clubs" class="navListItem">JOIN A CLUB</a>
        <a href="/create" class="navListItem">CREATE CLUB</a>
      </div>
    </div>
  </nav>

  
<div class="container">
  {{club.clubName}}
  <div>
    <h3 id="currentlyReading">Currently Reading:</h3>
    <h4 id="title">{{club.currentlyReading}}</h4>
    <button>Change Book</button>
    <p id="author"></p>
    <P id="image"></P>
    <button id="changeBook" class="rounded" type="submit">Change Book</button>
  </div>
  <div id="add">
    <h3> Add a Book for your Club!</h3>
    <form class="create-book">
      <div class="form-group">
        <label for="bookName">Book Title:</label>
        <input type="text" id="bookName" name="name">
      </div>
      <button id="addBook" class="rounded" type="submit" id="submit">Find Book</button>
    </form>
  </div>
  <div id="searched-books"></div>
  <div> 
    <button id="addToClub"  data-id={{club.id}} class="rounded {{club.id}}" type="submit">Select this Book</button>
  </div>
</div>


{{!-- 
footer is covering the add to club button? 

<footer class="page-footer">
  © 2020 Copyright
</footer> --}}