<h1>Clubs</h1>

<ul>
  {{#each clubs }}
  <li>Name: {{clubName}}
    <button type="submit" class="delete" data-id="{{id}}">Delete</button>
  </li>
  {{/each}}
</ul>

<form class="create-club">
  <div class="form-group">
    <label for="ca">Club Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button class="rounded" type="submit" id="submit">Add Club</button>
</form>