<h1>Clubs</h1>

<div class="container">
  <ul class="collection">
    {{#each clubs }}
    <li class="collection-item">
      {{clubName}}
      <button class="delete-club" id="{{this.id}}"><i class="material-icons">delete_forever</i></button>
      </li>
    {{/each}}
  </ul>

  <form class="create-club">
  <div class="form-group">
    <label for="ca">Club Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button class="rounded" type="submit" id="submit">Add Club</button>
</form>


</div>


