 <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>


<div class="container textbody">
  <h3>Create a Club</h3>
{{!-- <form class="create-club">
  <div class="form-group">
    <label for="ca">Club Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button class="rounded" type="submit" id="submit">Add Club</button>
</form> --}}


  <div class="row create-club">
    <form class="col s12 form-group">

      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="ca" name="name">
          <label for="ca">Club Name:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="ca" name="name">
          <label for="ca">Your name:</label>
        </div>
     </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="ca" name="name">
          <label for="ca">Description of your bookclub:</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" id="submit">Create
      <i class="material-icons right">add_circle_outline</i>
      </button>

    </form>
  </div>

</div>
