  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/top-picks">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="collapsible.html">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>

<div class="bigLandingImg">
  <img class="responsive-img" src="/assets/main_header.jpg">
    <div class="centeredText"><a href="/clubs"><h1>Find a Bookclub to join <i class="medium material-icons">arrow_forward</i></h1></a></div>
</div>

<div class="mainpageinfo">
  <h4>How it works</h4>
  <p>
  </p>

  <div class="row">
    <div class="col s4">
      <i class="fas fa-search"></i>
      <p>
        Find new books by read either by checking out our reccomendations or searching for specfic title
      </p>
    </div>
    <div class="col s4">
      <i class="fas fa-book-reader"></i>
      <p>
        Use My Bookclub to find ideas for books to read or to create your own club and collaborate with others to pick which book to read next
      </p>
    </div>
    <div class="col s4">
      <i class="fas fa-book"></i>
      <p>
        some other third thing perhaps 
      </p>
    </div>
  </div>
</div>

        

