  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <p>pic is here+++</p>
    <img src="/assets/main_header.jpg">
  </div>
        
