  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="collapsible.html">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <img src="{{{../assets/main_header.jpg}}}">
  </div>
        

