  {{!-- <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav> --}}
  <nav>
    <div class="nav-wrapper ">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <a href="#" data-target="hamburger-menu" class="button sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul>
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
       <div class="right navpleasework">
        <a href="/books" class="navListItem">TOP PICKS</a>
        <a href="/clubs" class="navListItem">JOIN A CLUB</a>
        <a href="/create" class="navListItem">CREATE CLUB</a>
      </div>
    </div>
  </nav>



<div class="bigLandingImg">
  <img class="responsive-img" src="/assets/main_header.jpg">
    <div class="centeredText"><a href="/clubs"><h1>Find a Bookclub to join <i class="medium material-icons">arrow_forward</i></h1></a></div>
</div>
<br>

<div class="mainpageinfo">
  <h4>How it works</h4>
  <p>
  </p>

  <div class="row">
    <div class="col m4 s12 threeparts">
      <i class="fas fa-search"></i>
      <p>
        Find what to read next either by checking out our recommendations for top books users are reading or by joining a new club
      </p>
    </div>
    <div class="col m4 s12 threeparts">
      <i class="fas fa-book-reader"></i>
      <p>
        Use My Bookclub to find an existing club you'd like to be a part of or create your own club and collaborate with others to pick which book to read next.
      </p>
    </div>
    <div class="col m4 s12 threeparts">
      <i class="fas fa-book"></i>
      <p>
        Keep track of your reading wish-list by adding the books you're interested in as reccomendations for your club! 
      </p>
    </div>
  </div>
</div>



<footer class="page-footer-club">
    © 2020 Copyright    
</footer> 
        

