body {
    font-family: 'Zilla Slab', serif;
}

a {
    color: #2C4F50 !important;
}

h1{
    color: #2C4F50;
    font-weight: 600 !important;
}


h2 {
    font-weight:300 !important;
    letter-spacing: .1em;
    margin: 10px !important;
    color: black !important;
}

h3 {
    font-weight: 600 !important;
    color: rgb(33, 150, 170);
    font-size: 50px !important;
    text-align: center;
}

nav {
    background-color: white !important;
    color: black !important;
}

nav ul a {
    color: black !important;
}

.bigLandingImg {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
  }

  .centeredText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

#clubsListStyle {
    padding-left: 10px;
    color: black;
}

.mainpageinfo {
    text-align: center;
}

.fas {
    font-size: 30px;
}

.clubCoverImg{
    width: 150px !important;
} 

.clubCard {
    width: 600px !important;
    position: absolute;
    left: 25%;
    margin-left: -50px !important;
    margin-bottom: 20px !important;
    max-width: 100%;
}

.bookCard {
    position: absolute;
    left: 0%;
    margin-left: -50px !important;
    border: none !important;
}

/* .card-action {
    padding: 0px !important;
} */

.textbody {
    width: 700px !important;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleArea {
    /* background-color: rgb(188, 215, 226); */
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 140px;
    padding-left: 140px;
}

.textstyle2{
    font-size: 18px;
}

input {
    color:rgb(33, 150, 170) !important;
}

#submit {
    background-color: rgb(62, 120, 153) !important;
}

.btn {
    background-color:rgb(188, 215, 226) !important;
    color: black !important;
}

.leftSideInfo {
    background-color: rgb(188, 215, 226);
    height: 100vh;
    text-align: center;
}

.dualHeader {
    margin-top: 30px;
}


.topPicksLeft {
    text-align: right;
}

.bookCover {
    width: 150px !important;
    float: left;
    margin-right: 20px;
}

.page-footer {
    background-color: #2C4F50 !important;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.threeparts {
    margin-bottom: 15px;
}

.rankStyle {
    font-size: 60px;
    text-align: center;
    color: rgb(188, 215, 226)!important;
    font-weight: 600;
}

.author {
    font-style: italic;
    font-size: 22px !important;
    line-height: 2 !important;
}

.title{
    letter-spacing: 1px !important;
    font-size: 26px !important;
    color: #2C4F50;
}

.textstyle3 {
    font-style: italic;
}

.card-action {
    height: 20px !important;
    padding-top: 10px !important; 
    margin-bottom: 10px;
}

/* #date {
    text-transform: uppercase;
} */

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.navListItem {
    padding-right: 10px;
}

.nav-wrapper {
    position: relative;
    display: inline-block;
    display: grid;
    align-items: center;
    padding: 0px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:64px;
    width: 130px;
    background-color: white;
    font-weight:bold;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 8;
    height: 200px;
    left: 10px;
}

li a {
    color: #000;
    text-decoration: none;
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #e5e5e5;
    color: white;
}
.button{
    width:130px;
    height:20px;
    border-radius:5px;
    font-weight:bold;
}
.button:before{
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    /* border-color: white transparent transparent transparent; */
    right:6px;
    top:18px;
}

@media only screen and (max-width: 600px) {
    .rankStyle {
        display: none;
    }

    .topPicksLeft {
        text-align: center;
    }

    .bigbookCover {
        display: inline-block    !important;
    }

    .centeredText  {
        top: 50%;
    }

    .titleArea {
        padding-left: 10px;
        padding-right: 10px;
    }

    .clubCard {
        left: 0 !important;
        margin-left: 10px !important;
    }

    .textbody {
        left: 0;
    }

}

@media only screen and (max-width: 992px) {
    .navpleasework {
        display: block;
    }
}

@media only screen and (max-width: 993px) {
    .navpleasework {
        display: none;
    }

    h2 {
        text-align: center !important;
    }

    .nav-wrapper {
        display: flex;
    }
}

.right {
    text-align: right !important;
}